doctype html
html
    head
        meta(charset='utf-8')
        title Loops - Dashboard
        script(src='https://code.jquery.com/jquery-3.2.1.min.js', crossorigin='anonymous')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
        link(rel='stylesheet' type="text/css" href="css/bookshelf.css")
        script(src="/assets/isotope.pkgd.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous') 
        script(src="/js/bookshelf.js")

    body
<<<<<<< HEAD
        .bookshelf_navbar_container
            .row.bookshelf_navbar
                .col-md-3.welcome_dialog_container
                    h6.welcome-dialog
                        | Hi 
                        span.username #{username[0].user_name}
                        |  welcome to your 
                        span.bookshelf_name Bookshelf
                .col-md-6.filter_button_container
                    .filter-button-group.button-group(data-filter-group= "Status")
                        button.filter-button(data-filter='.All') All
                        button.Requested_but.filter-button(data-filter='.Requested') Requested
                        button.Matched_but.filter-button(data-filter='.Matched') Matched
                        button.Rejected_but.filter-button(data-filter='.Rejected') Rejected
                .col-md-3.bookshelf_image_container
                    img(src='images/Bookshelf_Dashboard.svg')

        .grid
            - for(var i = -1; i < books.length; i += 3){
                .row.shelf
                    if i == -1
                        .card.col-md-4.grid-item.All.Requested.Matched.Rejected
                            img.card-img-top(src='/images/green_plus.png', alt='Card image cap')
                            .card-block
                                h4.card-title New Trade
                    else
                        if books[i].title
                            .card.col-md-4.grid-item.Requested.All
                                img.card-img-top(src=books[i].img_url, alt='Card image cap')
                                .card-block
                                    h4.card-title #{books[i].title}
                                    h5.card-author #{books[i].author}
                        else
                            .card.col-md-4.grid-item.Matched.All
                                .row
                                    .col-md-5
                                        .owned(data-title=books[i]['book_have'].title, data-author=books[i]['book_have'].author, data-id=books[i]['book_have'].book_id, data-isbn=books[i]['book_have'].isbn, data-img=books[i]['book_have'].img_url)
                                            img.book-img(src=books[i]['book_have'].img_url, alt='Card image cap')
                                        p.title #{books[i]['book_have'].title}
                                    .col-md-2
                                        p.arrow.align-middle &harr;
                                    .col-md-5
                                        .wanted(data-title=books[i]['book_want'].title, data-author=books[i]['book_want'].author, data-id=books[i]['book_want'].book_id, data-isbn=books[i]['book_want'].isbn, data-img=books[i]['book_want'].img_url)
                                            img.book-img(src=books[i]['book_want'].img_url, alt='Card image cap')
                                        p.title #{books[i]['book_want'].title}
                    if i + 1 < books.length
                        if books[i + 1].title
                            .card.col-md-4.grid-item.Requested.All
                                img.card-img-top(src=books[i + 1].img_url, alt='Card image cap')
                                .card-block
                                    h4.card-title #{books[i + 1].title}
                                    h5.card-author #{books[i + 1].author}
                        else
                            .card.col-md-4.grid-item.Matched.All
                                .row
                                    .col-md-5
                                        .owned(data-title=books[i + 1]['book_have'].title, data-author=books[i + 1]['book_have'].author, data-id=books[i + 1]['book_have'].book_id, data-isbn=books[i + 1]['book_have'].isbn, data-img=books[i + 1]['book_have'].img_url)
                                            img.book-img(src=books[i + 1]['book_have'].img_url, alt='Card image cap')
                                        p.title #{books[i + 1]['book_have'].title}
                                    .col-md-2
                                        p.arrow.align-middle &harr;
                                    .col-md-5
                                        .wanted(data-title=books[i + 1]['book_want'].title, data-author=books[i + 1]['book_want'].author, data-id=books[i + 1]['book_want'].book_id, data-isbn=books[i + 1]['book_want'].isbn, data-img=books[i + 1]['book_want'].img_url)
                                            img.book-img(src=books[i + 1]['book_want'].img_url, alt='Card image cap')
                                        p.title #{books[i + 1]['book_want'].title}
                    if i + 2 < books.length
                        if books[i + 2].title
                            .card.col-md-4.grid-item.Requested.All
                                img.card-img-top(src=books[i + 2].img_url, alt='Card image cap')
                                .card-block
                                    h4.card-title #{books[i + 2].title}
                                    h5.card-author #{books[i + 2].author}
                        else
                            .card.col-md-4.grid-item.Matched.All
                                .row
                                    .col-md-5
                                        .owned(data-title=books[i + 2]['book_have'].title, data-author=books[i + 2]['book_have'].author, data-id=books[i + 2]['book_have'].book_id, data-isbn=books[i + 2]['book_have'].isbn, data-img=books[i + 2]['book_have'].img_url)
                                            img.book-img(src=books[i + 2]['book_have'].img_url, alt='Card image cap')
                                        p.title #{books[i + 2]['book_have'].title}
                                    .col-md-2
                                        p.arrow.align-middle &harr;
                                    .col-md-5
                                        .wanted(data-title=books[i + 2]['book_want'].title, data-author=books[i + 2]['book_want'].author, data-id=books[i + 2]['book_want'].book_id, data-isbn=books[i + 2]['book_want'].isbn, data-img=books[i + 2]['book_want'].img_url)
                                            img.book-img(src=books[i + 2]['book_want'].img_url, alt='Card image cap')
                                        p.title #{books[i + 2]['book_want'].title}
            - }



        script(src="/js/navbar.js")